<!DOCTYPE html>
<html>
  <head>
    <title>MVB Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <div class="content">
            <div class="side-content">
                <h2 class="header">Documentation</h2>
                <h3 class="title">Getting Started</h3>
                <h5 class="sub-title"><a href="#intro">- Introduction</a></h5>
                <h3 class="title">Resources</h3>
                <h5 class="sub-title" id="team">- Teams</h5>
                <ul class="team-list">
                    <li><a href="#teams-index">/api/v1/teams</a></li>
                    <li><a href="#teams-show">/api/v1/teams/:id</a></li>
                    <li><a href="#teams-bars">/api/v1/teams/:id/bars</a></li>
                </ul>
                <h5 class="sub-title" id="bar">- Bars</h5>
                <ul class="bar-list">
                    <li><a href="#bars-index">/api/v1/bars</a></li>
                    <li><a href="#bars-show">/api/v1/bars/:id</a></li>
                    <li><a href="#bars-teams">/api/v1/bars/:id/teams</a></li>
                </ul>
            </div>
            <div class="main-content">
                <h3 class="title">Most Valuable Bar (MVB)</h3>

                <div class="sub-content">
                    <p>
                        As sports fans ourselves, we found it quite difficult to locate which bars support which NFL teams. We set out to organize and manage that data for you so that you can bring to life creative digital solutions this problem.
                    </p>
                    <p>
                        Our data-set is continously being updated to include the most current information possible, as well as expand to more and more cities around the US. We do have plans to add additional sports such as MLB & NBA down the road.
                    </p>
                    <p>
                        If you have any questions or concerns, feel free to reach out to us here.
                    </p>
                </div>
                <h3 class="title" id="intro">Getting Started</h3>

                <div class="sub-content">
                    <p>
                        The MVB API is organized around REST. Our API has predictable, resource-oriented URLs. JSON is returned by all API responses, including errors.
                    </p>
                    <p>
                        Our API is currently open to the public and can be accessed without any tokens or API key. However, we do plan to make the API private soon.
                    </p>
                </div>
                <h3 class="title">Teams</h3>

                <div class="sub-content">
                    <p>
                        This is an object representing all the NFL teams. You can retrieve it to see each teams schedule as well as associated bars and their location.
                    </p>

                    <h4 class="ep" id="teams-index">
                        <pre><code>/api/v1/teams</code></pre>
                    </h4>
                    <p>
                        Returns a list of all the NFL teams
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/teams
                    </code>
                    <p id="team-index-response">
                        Example Response
                    </p>
                    <pre class="response">
  [
      {
          id: 2,
          location: "Cincinnati",
          team: "Bengals",
          division: "AFC-North",
          conference: "AFC",
          schedule: [ ],
          bars: [
            {
              id: 1,
              name: "B.D. Riley's",
              official: false
            }
          ]
      },
      {
          "id": 3,
          "location": "Cleveland",
          "team": "Browns",
          "division": "AFC-North",
          "conference": "AFC",
          "schedule": [],
          "bars": [
            {
              "id": 17,
              "name": "Midway Field House",
              "official": true
            },
            {
              "id": 20,
              "name": "Recess Arcade Bar",
              "official": false
            },
            {
              "name": "Joe’s Bar and Grill",
              "official": false
            }
          ]
      }
  ]
                    </pre>
                    <h4 class="ep" id="teams-show">
                        <pre><code>/api/v1/teams/:id</code></pre>
                    </h4>
                    <p>
                        Returns one NFL team
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/teams/5
                    </code>
                    <p id="team-show-response">
                        Example Response
                    </p>
                    <pre class="response">
  {
      "id": 5,
      "location": "Chicago",
      "team": "Bears",
      "division": "NFC-North",
      "conference": "NFC",
      "schedule": [],
      "bars": [
        {
          "name": "Thirsty Nickel",
          "offical": false
        },
        {
          "name": "Pluckers (S. Lamar)",
          "offical": false
        },
        {
          "id": 12,
          "name": "Gibson",
          "offical": false
        },
        {
          "name": "Chicago House",
          "offical": false
        },
        {
          "id": 25,
          "name": "Trifecta",
          "offical": false
        },
        {
          "name": "Third Base",
          "official": false
        }
      ]
  }
                    </pre>
                    <h4 class="ep" id="teams-bars">
                        <pre><code>/api/v1/teams/:id/bars</code></pre>
                    </h4>
                    <p>
                        Returns a list of the teams bars
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/teams/5/bars
                    </code>
                    <p id="team-bars-response">
                        Example Response
                    </p>
                    <pre class="response">
  [
      {
          name: "Thirsty Nickel",
          offical: false
      },
      {
          name: "Pluckers (S. Lamar)",
          offical: false
      },
      {
          id: 12,
          name: "Gibson",
          offical: false
      },
      {
          name: "Chicago House",
          offical: false
      },
      {
          id: 25,
          name: "Trifecta",
          offical: false
      },
      {
          name: "Third Base",
          official: false
      }
  ]
                    </pre>
                </div>
                <h3 class="title">Bars</h3>

                <div class="sub-content">
                    <p>
                        This is an object representing all the local bars ( currently only in Austin, TX ). You can retrieve it to see each bar, including location and store hours, as well as the teams associated.
                    </p>

                    <h4 class="ep" id="bars-index">
                        <pre><code>/api/v1/bars</code></pre>
                    </h4>
                    <p>
                        Returns a list of bars
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/bars
                    </code>
                    <p id="bars-index-response">
                        Example Response
                    </p>
                    <pre class="response">
  [

    {
      "id": 1,
      "name": "B.D. Riley's",
      "description": "Irish & local craft-brewed beers alongside an upscale pub menu, with traditional Irish decor.",
      "location": [

          {
              "address": "204 E 6th Street",
              "zipcode": 78701,
              "city": "Austin",
              "state": "TX",
              "phoneNumber": "512-494-1335",
              "hours": [

                  {
                      "monday": {
                          "open": "4:00pm",
                          "close": "12:00am"
                      },

                      "tuesday": {
                          "open": "4:00pm",
                          "close": "12:00am"
                      },

                      "wednesday": {
                          "open": "11:00am",
                          "close": "12:00am"
                      },

                      "thursday": {
                          "open": "11:00am",
                          "close": "12:00am"
                      },

                      "friday": {
                          "open": "11:00am",
                          "close": "2:00am"
                      },

                      "saturday": {
                          "open": "11:00am",
                          "close": "2:00am"
                      },

                      "sunday": {
                          "open": "11:00am",
                          "close": "12:00am"
                      }
                  }

              ]
          }

      ],
      "menu": "https://bdrileys.com/menu/",
      "teams": [

          {
              "name": "Houston Texans",
              "schedule": []
          },
          {
              "name": "New England Patriots",
              "schedule": []
          }

      ]
    },
    {
      "id": 2,
      "name": "Bar 96",
      "description": "Casual sports-friendly bar in a former bungalow with a wraparound porch, board games & a food truck.",
      "address": "96 Rainey St",
      "zipcode": 78701,
      "city": "Austin",
      "state": "TX",
      "phoneNumber": "512-433-6604",
      "hours": [

          {
              "monday": {
                  "open": "2:00pm",
                  "close": "2:00am"
              },

              "tuesday": {
                  "open": "2:00pm",
                  "close": "2:00am"
              },

              "wednesday": {
                  "open": "2:00pm",
                  "close": "2:00am"
              },

              "thursday": {
                  "open": "2:00pm",
                  "close": "2:00am"
              },

              "friday": {
                  "open": "12:00pm",
                  "close": "2:00am"
              },

              "saturday": {
                  "open": "11:00am",
                  "close": "2:00am"
              },

              "sunday": {
                  "open": "11:00am",
                  "close": "2:00am"
              }
          }

      ],
      "menu": "https://locu.com/places/bar-96-austin-us/#menu",
      "teams": [

          {
              "name": "Baltimore Ravens",
              "schedule": []
          }

      ]
    }

  ]
                    </pre>
                    <h4 class="ep" id="bars-show">
                        <pre><code>/api/v1/bars/:id</code></pre>
                    </h4>
                    <p>
                        Returns one bar
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/bars/6
                    </code>
                    <p id="bars-show-response">
                        Example Response
                    </p>
                    <pre class="response">
  {
      "id": 6,
      "name": "Black Sheep Lodge",
      "description": "This dog-friendly sports bar, known for its burgers, offers daily drink specials & bar games.",
      "address": "2108 S Lamar Blvd",
      "zipcode": 78704,
      "city": "Austin",
      "state": "TX",
      "phoneNumber": "512-707-2744",
      "hours": [

          {
              "monday": {
                  "open": "11:00am",
                  "close": "12:00am"
              },

              "tuesday": {
                  "open": "11:00am",
                  "close": "12:00am"
              },

              "wednesday": {
                  "open": "11:00am",
                  "close": "12:00am"
              },

              "thursday": {
                  "open": "11:00am",
                  "close": "12:00am"
              },

              "friday": {
                  "open": "11:00am",
                  "close": "2:00am"
              },

              "saturday": {
                  "open": "11:00am",
                  "close": "1:00am"
              },

              "sunday": {
                  "open": "11:00am",
                  "close": "12:00am"
              }
          }

      ],
      "menu": "http://www.blacksheeplodge.com/menu/",
      "teams": [

          {
              "name": "Washington Redskins",
              "schedule": []
          }

      ]
  }
                    </pre>
                    <h4 class="ep" id="bars-teams">
                        <pre><code>/api/v1/bars/:id/team</code></pre>
                    </h4>
                    <p>
                        Returns a list of the bars teams
                    </p>
                    <p>
                        Authentication: oauth2
                    </p>
                    <p>
                        Example Request
                    </p>
                    <code class="request">
                        GET | http://mvb.com/api/v1/bars/6/teams
                    </code>
                    <p id="bars-teams-response">
                        Example Response
                    </p>
                    <pre class="response">
  [

      {
          "name": "Washington Redskins",
          "schedule": []
      }

  ]
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/main.js"></script>
  </body>
</html>
