@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; font-weight: 600;
    font-size: 1em;
}
::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(254, 147, 140);
}
a {
    text-decoration: none;
    color: inherit;
}
html, body {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0 0 0 -5%;
}
ul li {
    display: none;
    list-style: none;
    font-weight: 400;
}
p {
    margin: 2.5%;
    font-weight: 400;
}
.container {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 100%;
}
.side-content {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 3px solid #333;
    margin: 1.5%;
    cursor: pointer;
    overflow: scroll;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 1.5%;
    overflow: scroll;
}
.sub-content {
    width: 80%;
}
.header {
    font-size: 1.5em;
    cursor: pointer;
}
.title {
    margin-left: 2.5%;
    font-size: 1.15em;
    cursor: default;
}
.sub-title {
    margin: 2.5%;
    padding: 0;
    font-size: 0.95em;
    font-weight: 400;
}
.ep {
    margin: 2.5%;
}
.request {
    font-family: monospace;
    font-size: 1.2em;
    padding-left: 6%;
}
.response {
    padding-top: 2%;
    background-color: black;
    color: white;
    font-family: monospace;
    font-weight: 400;
    font-size: 1.1em;
    text-align: left;
    overflow: scroll;
}

@media screen and (max-width: 768px) {
  .side-content {
    display: none;
  }
  .main-content {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .sub-content {
    width: 100%;
  }
}
@media screen and (width: 1024px) and (orientation: landscape) {
  .side-content {
    width: 22%;
  }
  .main-content {
    margin-left: 0%;
    margin-right: 0%;
  }
  .sub-content {
    width: 98%;
  }
}
